*{
    margin: 0;
    padding: 0;
    border: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.navbar1{
    display: flex;
    align-items: center;
    gap: 44px;
    list-style: none;
    font-size: 15px;
    font-weight: 700;
}
li a{
    list-style: none;
    text-decoration: none;
    color: black;
}
.btn1{
    background-color: #E2AE80;
    width: 220px;
    height: 45px;
    border-radius: 5px;
}
